/* NATE FOLSOM UX PORTFOLIO STYLESHEET */
/*---------------------------------------
--CONTENTS--
1.0 - UNIVERSAL HTML FORMATTING
  BODY
  HEADINGS
  TEXT STYLES
  SPECIAL TEXT
  TEXT ACCENT COLORS
2.0 - HEADER
  NAV
  MOBILE NAV
  LOAD-IN ANIMATIONS
3.0 - CONTENT FORMATTING
  CONTENT BOX
  IMAGE FORMATTING
  CASE STUDY LINKS
  GRID FORMATTING
4.0 - FOOTER
5.0 - PAGE FORMATTING
6.0 - MEDIA QUERIES
-----------------------------------------*/

/***1.0 - UNIVERSAL HTML FORMATTING***/
html {
  scroll-behavior: smooth;
}
/* BODY */
body {
  background-image: url("siteBackgroundv2.png");
  background-size: contain;
  background-color: #333;
  background-attachment: fixed;
  margin: 0 auto;
  text-align: center;
  color: #3D3D3D;
  font-family: 'Noto Sans TC', sans-serif;
}
/* HEADINGS */
h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
/* TEXT STYLES */
a {
  text-decoration: none;
  color: #3d3d3d;
}
.no-background a {
  color: #fff;
  fill: #fff;
}
p {
  font-size: 25px;
}
/* SPECIAL TEXT */
.emph {
  font-weight: bold;
}
/* LISTS */
.tasks {
  font-size: 25px;
}
  .team {
    list-style-type: none;
    font-size: 25px;
    position: relative;
    left: -40px;
  }

/* TEXT ACCENT COLORS */
  .NF-green {
    color: #84b446;
  }
  .NF-blue {
    color: #8fc3ef;
  }
  .GS-red {
    color: #eb455a;
  }
  .GS-yellow {
    color: #FFCC00;
  }
  .MM-yellow {
    color: #ffff00;
  }
  .CC-blue {
    color: #2F72A2;
  }
  .CC-red {
    color: #d0112b;
  }
  .HM-red {
    color: #ff1b1d;
  }
  .HM-yellow {
    color: #ebb75a;
  }

/***2.0 - HEADER***/
/* HEADER GENERAL */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: rgba(255,255,255, 1);
  top: 0px;
  z-index: 1;
  border-bottom: 10px black solid;
  border-top: 10px black solid;
}

/* NAV */
.nav {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 5px;
}

.left.nav, .right.nav {
    background-color: #fff;
    padding-left: 5px;
  }
.button {
    position: fixed;
    top: 0;
  }
.navButtons h2 {
    margin: 10px auto;
  }
.navButtons a {
    color: #3d3d3d;
    transition: opacity .1s ease-in;
  }
.navButtons .nav {
      opacity: 0;
}
.navButtons a:hover {
  opacity: .6;
}
/* MOBILE NAV */
.nav-m {
  visibility: hidden;
}
.nav-m {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
}
.nav-m input {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.open, .close {
  stroke-width: 5;
  stroke-linecap: round;
  stroke: #3d3d3d;
  transition: transform .2s ease;
}
.menu-foldout {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #fff;
  width: 200px;
  z-index: -1;
  padding-top: 40px;
  margin-right: -210px;
  transition: margin-right .2s ease;
}
.menu-foldout a {
  color: #3d3d3d;
}
.nav-m input:checked ~ label .open {
  transform: translateX(120px);
}
.nav-m input:checked ~ label .close {
  transform: translateX(-100px);
}
.nav-m input:checked ~ label .menu-foldout {
  margin-right: 0;
}
.top-layer {
  z-index: 2;
}

/* LOAD-IN ANIMATIONS */
.nav.left {
  animation: .5s ease-in .9s forwards uxFadeIn;
}
.nav.right {
  animation: .5s ease-in 1.2s forwards uxFadeIn;
}
@keyframes loadGrow {
  0% { r: 5%; }
  100% { r: 125; }
}
@keyframes uxFadeIn {
  0% {opacity: 0; }
  100% {opacity: 1; }
}
/***3.0 - CONTENT FORMATTING***/

/* CONTENT BOX */
  .Content {
    padding: 10px 10% 20px 60px;
    margin: 10px 0 10px 2%;
    float: left;
    text-align: left;
    background-color: white;
    border-radius: 2px;
    height: auto;
    z-index: 0;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    -webkit-transition: margin .5s ease;
    -o-transition: margin .5s ease;
    transition: margin .5s ease;
  }

/* CONTENT IMAGE FORMATS */
  .contentImg {
    min-width: 325px;
    width: 47%;
  }
  .contentImgL {
    width: 69%;
  }
  .contentImgF {
    width: 100%;
  }
  .contentImgS {
    width: 30%;
  }
  .contentImgXS {
    width: 17%;
  }
  .imgRow {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   height: auto;
   margin: 0 -5px;
 }
 .imgCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: -5px 0;
}
.colImg {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
  width: 100%;
  height: 100%;
  margin: 5px 0;
}
 .rowL {
   width: 100%;
 }
 .rowM {
   width: 50%;
 }
 .rowImg {
   -webkit-box-flex: 1;
       -ms-flex: 1 1 auto;
           flex: 1 1 auto;
   min-width: 0;
   width: 100%;
   height: 100%;
   margin: 0 5px;
 }
 .hasBorder {
   border: 2px black solid;
   border-radius: 2px;
 }
 .left {
   float: left;
   margin-right: 10px;
 }
 .right {
   float: right;
   margin-left: 10px;
 }
 .topper {
   margin-top: 30px;
 }
 .wrapped {
   margin-top: 5px;
 }

  /* CASE STUDY LINKS */
  .linksContainer {
    min-width: 98%;
    margin: 20px 0 10px 2%;
    background-color: white;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  .linksContent {
    min-width: 90%;
    float: left;
    text-align: left;
    margin: 10px 10% 20px 60px;
    height: auto;
  }
  .caseStudyLinks {
    text-decoration: underline;
  }
  .Links {
    /*padding: 10px 10% 20px 60px;*/
  }

  /* GRID FORMATTING */
  .grid {
    display: grid;
  }
  .three-col {
    grid-template: 1fr / 1fr 1fr 1fr;
  }
  .three-col-1 {
    grid-area: 2/1/3/2;
  }
  .three-col-2 {
    grid-area: 2/2/3/3;
  }
  .three-col-3 {
    grid-area: 2/3/3/4;
  }
  .two-col {
    grid-template: 125px 1fr 125px / 1fr 2fr 1fr 2fr 1fr;
  }
  .two-col-left {
    grid-area: 2/2/3/3;
  }
  .two-col-right {
    grid-area: 2/4/3/5;
  }
  .one-col {
    grid-template: 125px 1fr 125px / 1fr 5fr 1fr;
  }
  .one-col-col {
    grid-area: 2/2/2/2;
  }

/***4.0 - FOOTER***/
.footer {
  margin-bottom: -5px;
}
/***5.0 PAGE FORMATTING***/
  .full-width {
  width: 100%;
  }
  .withMargins {
    width: 96%;
    padding: 0 2%;
  }
  .no-background {
    color: #fff;
  }
  .background {
    background-color: #fff;
    color: #3d3d3d;
  }
  .mainContainer {
    min-height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bottom-spacer {
    flex: 1 1 auto;
  }

/***6.0 - MEDIA QUERIES***/
@media only screen and (max-width: 500px){
  #headerRect {
    mask: url(#shape-mask-m);
  }
  .headerSvg {
    margin-top: 0;
  }
  .grayscale {
    transition: none;
    filter: grayscale(0);
  }
  .three-col {
    grid-template: 1fr 1fr 1fr / 5% 1fr 5%;
  }
  .two-col {
    grid-template: 75px 1fr 75px 1fr 75px / 1fr 5fr 1fr;
  }
  .one-col {
    grid-template: 75px 1fr 75px / 1fr 5fr 1fr;
  }
  .three-col-1 {
    grid-area: 1/2/2/3;
  }
  .three-col-2 {
    grid-area: 2/2/3/3;
  }
  .three-col-3 {
    grid-area: 3/2/4/3;
  }
  .two-col-left {
    grid-area: 2/2/2/2;
  }
  .two-col-right {
    grid-area: 4/2/5/2;
  }
  .three-col svg defs rect {
    fill: #000;
  }
  .three-col svg defs circle {
    fill: #fff;
  }
  .three-col svg a {
    fill: #3d3d3d;
  }
  .three-col-1 svg defs circle, .three-col-1 svg a {
    transform: translateX(-3px);
  }
  .three-col-3 svg defs circle, .three-col-3 svg a {
    transform: translateX(3px);
  }
  .intro-text {
    font-size: 35px;
  }
  .inner:nth-child(2), .nfd {
    transform: translate(-200px, 75px) scale(1.5) ;
  }
  .nav-m {
    visibility: visible;
  }
  .left.nav, .right.nav {
    visibility: hidden;
  }
  .money-shot-desktop {
    margin: 0;
  }
  }

/****** DEBUGGING *****/
.border-test {
  border: 2px red solid;
}
